@media (min-width: 768px) {


    /* ===== HEADER ===== */
    #menuButton {
        display: none;
    }

    header h1{
        justify-content: left;
        margin-right: 940px;
        color: #ffffff;
        font-size: 22px;
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex;
        gap: 1rem;
      margin-left: 120px;
    }



    }

/* ===== HERO ===== */
        .hero {
            position: relative;
            height:693px;
            background: #ffffff;
            border: 2px solid #f4d9e3;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 1rem;
        }

        .hero img {
            width:100%;
            height:100%;
            object-fit: cover;

        }

        .hero button {
            position: absolute;
            right: 2rem;
            bottom: 1rem;
            background-color:#ffffff;
            
        }

                
    /* ===== MAIN ===== */
    main {
        max-width: 2100px;
        margin: 0 auto;
    }

    main buttons {
        border: #f4d9e3;
    }

    /* ===== FOOTER ===== */
footer {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    padding: 1rem;
    align-items: center;
    color:#ffffff;
}

