body {
    font-family: 'Inter', sans-serif;
    background: #FFFFFF;
    color: #2F2F2F;
    margin: 0;
    line-height: 1.7;
}

header {
    background: #E7C6C2;
    padding: 20px;
    text-align: center;
    position: relative;
}

h1,
h2 {
    font-family: 'Playfair Display', serif;
    color: #2F2F2F;
}

h1,
references {
    background-color: #E7C6C2;
    margin-bottom: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

nav a {
    margin: 0 15px;
    font-weight: bold;
    color: #2F2F2F;
    text-decoration: none;
}

/* Hover effect */
#navMenu a:hover {
    background-color: #f0f0f0;
}

/* Active link */
#navMenu a.active {
   
    color: white;
    font-weight: 600;
}

.hero {
    text-align: center;
    padding: 2rem;
}

.grid {
    display: grid;
    gap: 20px;
    padding: 20px;
}

.grid img {
    width: 60%;
    border-radius: 6px;
}

footer {
    background: #E7C6C2;
    text-align: center;
    padding: 1rem;
}

a[href="references.html"] {
    color: blue;
}

/* Buttons */
button {
    background: #2F2F2F;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Form Styles */
form {
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
}

label {
    display: block;
    margin-top: 15px;
}

textarea,
input {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* HAMBURGER BUTTON */
#hamburger {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #2F2F2F;
}